.contactform {
  .formwrapper {
    background: rgba(0, 0, 0, 0.02);
    padding: 5rem 0;

    h3 {
      font-weight: 500;
      margin-bottom: 1rem;
      font-size: 20px;
    }

    .fbsubtitle {
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .btn {
      color: #fff;
      border-color: $forest-green;
      background: $forest-green;
      font-size: 15px;

      &:hover {
        color: $forest-green;
        border-color: $forest-green;
        background: #fff;
      }
    }
  }
}
