/* Dashboard */
.dashboard {
	@include mq('lg') {
		.col-lg-3 {
			-ms-flex: 0 0 30%;
			flex: 0 0 30%;
			max-width: 30%;
		}

		.col-lg-9 {
			-ms-flex: 0 70%;
			flex: 0 0 70%;
			max-width: 70%;
		}
	}

	label {
		margin-bottom: .2rem;
	}

	.form-control {
		margin-bottom: 1.3rem;

		&+.form-control {
			margin-top: 2rem;
		}
	}

	.form-control:not(:focus) {
		background-color: #f9f9f9;
	}

	.tab-pane {
		padding: 0;
		border: none;
		line-height: 2.15;
		padding-bottom: 2rem;

		p {
			margin-bottom: 1rem;
		}
	}

	.btn {
		min-width: 123px;
	}

	a,
	button {
		color: #008482;
		font-weight: bold;
	}

	a.tab-trigger-link.link-underline {
		-webkit-box-shadow: 0 1px 0 0 #008482;
		box-shadow: 0 1px 0 0 #008482;
	}
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #008482;
}

input:focus+.slider {
	box-shadow: 0 0 1px #008482;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.nav-dashboard {
	margin-top: -1rem;

	.nav-link {
		overflow: hidden;
		position: relative;
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 1.5;
		padding: 1.4rem 0;
		color: $dark-text;
		border-bottom: .1rem solid #ebebeb;

		&:before {
			font-family: "molla";
			content: '\f274';
			display: block;
			font-size: 1.5rem;
			line-height: 1;
			position: absolute;
			top: 50%;
			left: -15px;
			margin-top: -7.5px;
			transition: all .3s;
			opacity: 0;
		}

		&:hover,
		&:focus,
		&.active {
			color: $primary-color;
		}

		&.active {
			padding-left: 2rem;

			&:before {
				left: 0;
				opacity: 1;
			}
		}
	}

	.nav-item.active .nav-link {
		padding-left: 2rem;
		color: #008482;

		&:before {
			left: 0;
			opacity: 1;
		}
	}
}

.card-dashboard {
	margin-bottom: 3rem;
	background-color: #f9f9f9;
	border: .1rem solid #ebebeb;

	.card-title {
		letter-spacing: 0;
		margin-bottom: .5rem;
	}

	.card-body {
		padding: 4rem 2.8rem 2rem;
	}
}

.list_box.orderDetailsTableDiv {
	th {
		font-weight: 600;
	}

	tbody {
		tr {
			td {
				svg {
					cursor: pointer;
				}
			}
		}
	}
}

div#order-modal {
	max-width: 1000px;

	.orderdetailbody {
		padding: 30px;
	}

	.td_product svg {
		color: #008482;
	}

	div#contained-modal-title-vcenter {
		margin-bottom: 0;
	}

	.orderdetailModelheader.modal-header {
		padding: 15px 30px;
	}

	.modal-header span {
		font-size: 34px;
	}

	.orderDetailsTableClient {
		thead {
			td {
				font-weight: 600;
				padding: 1rem 0;
			}
		}
	}
}