// planing section css
$forest-green: #008482;
$primary-color: #ee3124;

.planingIdeasInner-page {
  .breadcrumb-nav {
    border-top: 0.1rem solid rgba(235, 235, 235, 0.55);
  }
  .planninginnerwrapper {
    h3 {
      font-weight: 500;
      font-size: 30px;
    }

    .subtitle {
      font-weight: 600;
      margin-bottom: 1rem;
      font-size: 20px;
    }

    .prefresubtitle {
      font-weight: 600;
    }

    .btnWrapper {
      .btn {
        color: #fff;
        border-color: $primary-color;
        background: $primary-color;
        font-size: 15px;
        margin-right: 1rem;
        margin-bottom: 1rem;
        min-width: fit-content;

        &:last-child {
          margin-right: 0;
        }

        &:hover,
        &.active {
          color: $primary-color;
          border-color: $primary-color;
          background: #fff;
        }
      }
    }
  }
  .docWrape {
    background: #f0efec;
    padding: 3rem 2rem;
    .btn {
      color: #fff;
      border-color: $primary-color;
      background: $primary-color;
      font-size: 15px;
      margin-right: 1rem;
      margin-bottom: 1rem;
      min-width: fit-content;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $primary-color;
        border-color: $primary-color;
        background: #fff;
      }
    }
    .colStyle {
      border-right: 0.5px solid #d7d7d7;
      @media (max-width: 991px) {
        border-right: none;
      }
    }
    .colSpace {
      padding: 1rem;
    }
  }
  .shareBtnWrape {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media (max-width: 991px) {
      margin-bottom: 3rem;
    }
    .shareBtn {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
