// planing section css
$forest-green: #008482;

.resources-page {
  .plannings-container-ideas {
    .imageWrapper {
      position: relative;
      color: white;

      &::before {
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .planingContent {
        position: absolute;
        top: 30%;
        left: 10%;

        .lead {
          color: #ffffff;
          opacity: 0.6;
        }

        .title {
          font-weight: 500;
          margin-bottom: 1.5rem;
          color: #fff;
        }

        .btn {
          color: #fff;
          border-color: $forest-green;
          background: $forest-green;
          font-size: 15px;

          &:hover {
            color: $forest-green;
            border-color: #fff;
            background: #fff;
          }
        }
      }
    }

    .imageWrapper2 {
      position: relative;
      color: white;

      &::before {
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .planingContent2 {
        position: absolute;
        top: 25%;
        left: 10%;

        .lead {
          color: #ffffff;
          opacity: 0.6;
        }

        .title {
          font-weight: 500;
          margin-bottom: 1.5rem;
          color: #fff;
          font-size: 20px;
        }

        .btn {
          color: $forest-green;
          border: none;
          background: transparent;
          font-size: 15px;
          padding: 0;
          margin: 0;
          min-width: fit-content;

          &:hover {
            color: #fff;
          }
        }
      }
    }

    .imageWrapper3 {
      position: relative;
      color: #000000;

      &::before {
        content: "";
        position: absolute;
        background: rgba(255, 255, 255, 0.6);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .planingContent3 {
        position: absolute;
        top: 25%;
        left: 10%;

        .lead {
          color: #000000;
          opacity: 0.6;
        }

        .title {
          font-weight: 500;
          margin-bottom: 1.5rem;
          color: #000000;
          font-size: 20px;
        }

        .btn {
          color: $forest-green;
          border: none;
          background: transparent;
          font-size: 15px;
          padding: 0;
          margin: 0;
          min-width: fit-content;

          &:hover {
            color: #000000;
          }
        }
      }
    }
  }
  .application-heading {
    .title {
      font-size: 30px;
      font-weight: 600;
      @media (max-width: 575px) {
        font-size: 25px;
      }
    }
  }
  .heading.heading-center .title {
    margin-bottom: 3rem !important;
    font-weight: 600 !important;
    line-height: 1.1 !important;
    color: #000 !important;
    font-size: 3rem !important;
    @media (max-width: 575px) {
      font-size: 25px !important;
    }
  }
  .nav.nav-pills .nav-item.show .nav-link,
  .nav.nav-pills .nav-item .nav-link.active {
    color: $forest-green !important;
    border-bottom-color: $forest-green !important;
  }
  .nav.nav-border-anim .nav-link:before {
    background-color: $forest-green !important;
  }
  .nav.nav-pills .nav-link:hover,
  .nav.nav-pills .nav-link:focus {
    color: $forest-green !important;
  }

  .workspaceWrper {
    position: relative;
    color: white;

    &::before {
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.3);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &:hover .worspaceContent {
      opacity: 1;
    }

    .worspaceContent {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      text-align: center;
      opacity: 0;
      transition: all 0.3s;

      .lead {
        color: #fff;
        opacity: 0.8;
        margin-bottom: 1rem;
      }

      h3 {
        font-weight: 500;
        margin-bottom: 1rem;
        color: #fff;
        font-size: 20px;
      }
    }
  }

  .fabricwrapper {
    background: rgba(0, 0, 0, 0.02);
    padding: 5rem 0;

    .owl-simple.owl-nav-inside .owl-nav .owl-prev {
      background: #fff;
    }

    .owl-simple.owl-nav-inside .owl-nav .owl-next {
      background: #fff;
    }

    .fbsubtitle {
      font-weight: 600;
      margin-bottom: 1rem;
    }
    .btn {
      @media (max-width: 575px) {
        margin-bottom: 2rem;
      }
    }
  }

  .video-gallery {
    .videotitle {
      font-weight: 500;
      margin: 1rem 0rem 2rem 0rem;
      color: #000;
      font-size: 18px;
      opacity: 0.6;
      line-height: normal;
    }

    .videoWrapper {
      position: relative;
      color: white;

      &::before {
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.3);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      img {
        width: 100%;
        display: block;
      }

      .videoContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .icon {
          color: #ffffff;
          font-size: 30px;
          border: 2px solid white;
          border-radius: 100%;
          padding: 0.4rem 0.7rem;
        }
      }
    }

    .videoWrapper2 {
      position: relative;
      color: white;

      &::before {
        content: "";
        position: absolute;
        background: rgba(238, 49, 36, 0.71);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      img {
        width: 100%;
        display: block;
      }

      .videoContent2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }

  .blog-posts {
    .title {
      margin-bottom: 3rem !important;
      font-weight: 600 !important;
      line-height: 1.1 !important;
      color: #000 !important;
      font-size: 3rem !important;
      @media (max-width: 575px) {
        font-size: 25px !important;
      }
    }

    .blogbtnwrapper {
      margin-bottom: 2rem !important;
    }
    .entry-content {
      @media (max-width: 575px) {
        margin-bottom: 2rem;
      }
    }
  }
  .resourceheadingmbl {
    @media (max-width: 575px) {
      display: block !important;
      text-align: center;
    }
  }
}
