/* Page Header */
.page-header {
	padding: 22rem 0;
	background-color: #ebebeb;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	@media (max-width: 767px) {
		padding: 3rem 0;
	}

	@media (min-width: 768px) and (max-width: 1024px) {
		padding: 7rem 0;
	}

	h1 {
		color: #fff;
		// font: normal 400 3.2rem/1.1 $font-family;
		letter-spacing: -.025em;
		margin-bottom: 0;

		@media (max-width: 767px) {
			font-size: 23px !important;
		}

		span {
			display: block;
			color: $primary-color;
			font-size: 1.6rem;
			margin-bottom: 3rem;

			@media (max-width: 767px) {
				margin-bottom: 1.5rem;
			}
		}
	}

	&.page-header-big {
		display: flex;
		position: relative;
		min-height: 250px;
		margin-bottom: 5rem;

		h1 {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			span {
				font-size: 1.6rem;
				margin-top: .4rem;
				letter-spacing: 0;
			}
		}
	}

	.btn-outline-darker {
		color: #fff;
		margin-top: 3rem;

		@media (max-width: 767px) {
			margin-top: 1.5rem;
		}
	}
}


@include mq('md') {
	.page-header {
		h1 {
			font-size: 3.6rem;

			span {
				font-size: 1.8rem;
			}
		}

		&.page-header-big {
			min-height: 350px;
		}
	}
}

@include mq('lg') {
	.page-header {
		h1 {
			font-size: 4rem;

			span {
				font-size: 2rem;
			}
		}

		&.page-header-big {
			min-height: 450px;
		}
	}
}